<h1>New Dish</h1>

<%= form_with(model: @dish, url: dishes_path) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Back to Dishes', dishes_path, class: 'btn btn-secondary' %>
  </div>
<% end %>

