<h1>Name: <%= @restaurant.name %></h1>
<p>Address: <%= @restaurant.address %></p>

<div id="items">
  
  <% @restaurant.items.each do |item| %>
    <div class="item">
      <%= check_box_tag "selected_items[]", item.id, false, class: "item-checkbox", data: { price: item.price } %>
      <label><%= item.name %></label>
    </div>
  <% end %>

  <p>Total: <span id="total-price">0</span></p>
</div>


<%= javascript_include_tag 'restaurants' %>
<%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant), class: 'btn btn-primary' %>
<%= link_to 'Destroy this Restaurant', @restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<%= link_to 'Back to Restaurants', restaurants_path, class: 'btn btn-secondary' %>
